:root {
  --sierakow_granice: #0045f5;
  --kolej: #b66dc2;
  --rzeki_a: #6c4fa5;
  --rzeki_l: #3b45d4;
  --drogi_92: #509533;
  --drogi_glowne: #5e9294;
  --jeziora-arh_0-100: #a5bfdd;
  --jeziora-arh_100-200: #fe9929;
  --jeziora-arh_200-300: #993404;
}
